* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  background: #ffffff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 10%;
}
.nav .logo {
  display: flex;
}
.nav .cir1 {
  border-radius: 50%;
  background-color: #000;
  height: 15px;
  width: 15px;
}
.nav .items {
  display: flex;
  gap: 30px;
}
.nav h4 {
  font-size: 0.85em;
  font-weight: 500;
}
.items span {
  color: #868686;
}
.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 0px 30px;
  flex-wrap: wrap;
  height: 5%;
}
.top h4 {
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase;
}
.main {
  height: 85%;
  width: 100%;
}
.center {
  height: 50%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
}
.center h1 {
  font-size: 7em;
  font-weight: 400;
  padding: 0 2em;
}
.center::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
}
.center::-webkit-scrollbar-thumb {
  background-color: orangered;
}
.bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.bottom img {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
}
.bottom::-webkit-scrollbar {
  display: none;
}
.items h6{
    display: none;
}

@media (max-width: 600px) {
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height:8%;
}
.nav h4 {
  display: none;
}
.items h6{
    display: initial;
    font-size: 20px;
}
.top {
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 8%;
}
.top::-webkit-scrollbar {
  height: 2px;
}
.top::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.main {
  height: 84%;
  width: 100%;
}
.center {
  height: 40%;
}
.center h1 {
  font-size: 4em;
  font-weight: 400;
  padding: 0 0.5em;
}
.bottom {
  height: 60%;
}
}
